<div class="d-flex align-items-center justify-content-center">
  <h1>Welcome to Popmenu<h1>
</div>

<br>
<br>

<dl class="row">
  <dt class="col-sm-3">What is Popmenu?</dt>
  <dd class="col-sm-9">The restaurant tool designed to turn more first-time guests into regulars.</dd>
</dl>